--
-- PostgreSQL database dump
--

\restrict JFSH2gBwZf4nPcZB42Kw1aIwXyUytdnsiSgSKTjwZYVuuH7Bv8fKULssRQVs4ID

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actividades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actividades (
    id integer NOT NULL,
    nombre character varying(150) NOT NULL,
    area_id integer NOT NULL
);


ALTER TABLE public.actividades OWNER TO postgres;

--
-- Name: actividades_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.actividades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.actividades_id_seq OWNER TO postgres;

--
-- Name: actividades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.actividades_id_seq OWNED BY public.actividades.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: areas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.areas (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.areas OWNER TO postgres;

--
-- Name: areas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.areas_id_seq OWNER TO postgres;

--
-- Name: areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.areas_id_seq OWNED BY public.areas.id;


--
-- Name: cargos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cargos (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.cargos OWNER TO postgres;

--
-- Name: cargos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cargos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cargos_id_seq OWNER TO postgres;

--
-- Name: cargos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cargos_id_seq OWNED BY public.cargos.id;


--
-- Name: firmas_digitales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.firmas_digitales (
    id integer NOT NULL,
    registro_id integer NOT NULL,
    usuario_id integer NOT NULL,
    firma_imagen text NOT NULL,
    "timestamp" timestamp with time zone,
    lat double precision,
    lon double precision
);


ALTER TABLE public.firmas_digitales OWNER TO postgres;

--
-- Name: firmas_digitales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.firmas_digitales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.firmas_digitales_id_seq OWNER TO postgres;

--
-- Name: firmas_digitales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.firmas_digitales_id_seq OWNED BY public.firmas_digitales.id;


--
-- Name: obras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.obras (
    id integer NOT NULL,
    nombre character varying(150) NOT NULL,
    empresa character varying(150),
    direccion character varying(200),
    lat_centro double precision,
    lon_centro double precision,
    radio_perimetro integer,
    activo boolean
);


ALTER TABLE public.obras OWNER TO postgres;

--
-- Name: obras_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.obras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.obras_id_seq OWNER TO postgres;

--
-- Name: obras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.obras_id_seq OWNED BY public.obras.id;


--
-- Name: peligros_adicionales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.peligros_adicionales (
    id integer NOT NULL,
    registro_id integer NOT NULL,
    descripcion text NOT NULL,
    tipo character varying(50) NOT NULL,
    riesgo_consecuencia text NOT NULL,
    p_sin integer NOT NULL,
    s_sin integer NOT NULL,
    nivel_sin character varying(20) NOT NULL,
    medidas_control text NOT NULL,
    p_con integer NOT NULL,
    s_con integer NOT NULL,
    nivel_con character varying(20) NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.peligros_adicionales OWNER TO postgres;

--
-- Name: peligros_adicionales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.peligros_adicionales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.peligros_adicionales_id_seq OWNER TO postgres;

--
-- Name: peligros_adicionales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.peligros_adicionales_id_seq OWNED BY public.peligros_adicionales.id;


--
-- Name: peligros_base; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.peligros_base (
    id integer NOT NULL,
    actividad_id integer NOT NULL,
    tipo_peligro_id integer NOT NULL,
    descripcion text NOT NULL,
    riesgo_consecuencia text NOT NULL,
    p_sin integer NOT NULL,
    s_sin integer NOT NULL,
    nivel_sin character varying(50) NOT NULL,
    medidas_control text NOT NULL,
    p_con integer NOT NULL,
    s_con integer NOT NULL,
    nivel_con character varying(50) NOT NULL,
    responsable character varying(100),
    requisito_legal character varying(100)
);


ALTER TABLE public.peligros_base OWNER TO postgres;

--
-- Name: peligros_base_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.peligros_base_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.peligros_base_id_seq OWNER TO postgres;

--
-- Name: peligros_base_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.peligros_base_id_seq OWNED BY public.peligros_base.id;


--
-- Name: registros_iperc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.registros_iperc (
    id integer NOT NULL,
    codigo character varying(30),
    usuario_id integer NOT NULL,
    area_id integer NOT NULL,
    actividad_id integer NOT NULL,
    estado character varying(20),
    lat double precision,
    lon double precision,
    geo_validado boolean,
    fecha_registro timestamp with time zone,
    supervisor_id integer
);


ALTER TABLE public.registros_iperc OWNER TO postgres;

--
-- Name: registros_iperc_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.registros_iperc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.registros_iperc_id_seq OWNER TO postgres;

--
-- Name: registros_iperc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.registros_iperc_id_seq OWNED BY public.registros_iperc.id;


--
-- Name: tipos_peligro; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipos_peligro (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.tipos_peligro OWNER TO postgres;

--
-- Name: tipos_peligro_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipos_peligro_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_peligro_id_seq OWNER TO postgres;

--
-- Name: tipos_peligro_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipos_peligro_id_seq OWNED BY public.tipos_peligro.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido character varying(100) NOT NULL,
    dni character varying(8) NOT NULL,
    email character varying(120),
    password_hash bytea NOT NULL,
    rol character varying(20),
    activo boolean,
    created_at timestamp with time zone,
    cargo_id integer,
    obra_id integer,
    debe_cambiar_clave boolean
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: actividades id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividades ALTER COLUMN id SET DEFAULT nextval('public.actividades_id_seq'::regclass);


--
-- Name: areas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.areas ALTER COLUMN id SET DEFAULT nextval('public.areas_id_seq'::regclass);


--
-- Name: cargos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cargos ALTER COLUMN id SET DEFAULT nextval('public.cargos_id_seq'::regclass);


--
-- Name: firmas_digitales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas_digitales ALTER COLUMN id SET DEFAULT nextval('public.firmas_digitales_id_seq'::regclass);


--
-- Name: obras id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.obras ALTER COLUMN id SET DEFAULT nextval('public.obras_id_seq'::regclass);


--
-- Name: peligros_adicionales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_adicionales ALTER COLUMN id SET DEFAULT nextval('public.peligros_adicionales_id_seq'::regclass);


--
-- Name: peligros_base id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_base ALTER COLUMN id SET DEFAULT nextval('public.peligros_base_id_seq'::regclass);


--
-- Name: registros_iperc id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc ALTER COLUMN id SET DEFAULT nextval('public.registros_iperc_id_seq'::regclass);


--
-- Name: tipos_peligro id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_peligro ALTER COLUMN id SET DEFAULT nextval('public.tipos_peligro_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: actividades; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
f6e0f5006f54
\.


--
-- Data for Name: areas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.areas (id, nombre) FROM stdin;
4	Electricidad
5	Aire Acondicionado
6	Redes y Cableado
7	Alba├▒iler├¡a
8	Enchapado
9	Almac├®n
10	Pintura
11	Trabajos en Altura
12	General
\.


--
-- Data for Name: cargos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cargos (id, nombre) FROM stdin;
1	Obrero de campo
2	Operario
3	Maestro de obra
4	Supervisor SST
5	Ingeniero
6	Jefe de obra
\.


--
-- Data for Name: firmas_digitales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: obras; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.obras (id, nombre, empresa, direccion, lat_centro, lon_centro, radio_perimetro, activo) FROM stdin;
1	Clinica La Luz	Constructora Cajamarca	Cajamarca Peru	-7.1638	-78.504	100	t
2	Hospital Cajamarca 	Zona Sur Log├¡stica 	Jr Independencia 1234	\N	\N	100	t
\.


--
-- Data for Name: peligros_adicionales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: peligros_base; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: registros_iperc; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tipos_peligro; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipos_peligro (id, nombre) FROM stdin;
4	El├®ctrico
5	Mec├ínico
6	F├¡sico
7	Qu├¡mico
8	Ergon├│mico
9	Psicosocial
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: actividades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.actividades_id_seq', 23, true);


--
-- Name: areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.areas_id_seq', 12, true);


--
-- Name: cargos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cargos_id_seq', 6, true);


--
-- Name: firmas_digitales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.firmas_digitales_id_seq', 24, true);


--
-- Name: obras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.obras_id_seq', 2, true);


--
-- Name: peligros_adicionales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.peligros_adicionales_id_seq', 9, true);


--
-- Name: peligros_base_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.peligros_base_id_seq', 52, true);


--
-- Name: registros_iperc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.registros_iperc_id_seq', 27, true);


--
-- Name: tipos_peligro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipos_peligro_id_seq', 9, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 7, true);


--
-- Name: actividades actividades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividades
    ADD CONSTRAINT actividades_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: areas areas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_pkey PRIMARY KEY (id);


--
-- Name: cargos cargos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cargos
    ADD CONSTRAINT cargos_pkey PRIMARY KEY (id);


--
-- Name: firmas_digitales firmas_digitales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas_digitales
    ADD CONSTRAINT firmas_digitales_pkey PRIMARY KEY (id);


--
-- Name: obras obras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.obras
    ADD CONSTRAINT obras_pkey PRIMARY KEY (id);


--
-- Name: peligros_adicionales peligros_adicionales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_adicionales
    ADD CONSTRAINT peligros_adicionales_pkey PRIMARY KEY (id);


--
-- Name: peligros_base peligros_base_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_base
    ADD CONSTRAINT peligros_base_pkey PRIMARY KEY (id);


--
-- Name: registros_iperc registros_iperc_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc
    ADD CONSTRAINT registros_iperc_codigo_key UNIQUE (codigo);


--
-- Name: registros_iperc registros_iperc_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc
    ADD CONSTRAINT registros_iperc_pkey PRIMARY KEY (id);


--
-- Name: tipos_peligro tipos_peligro_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_peligro
    ADD CONSTRAINT tipos_peligro_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_dni_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_dni_key UNIQUE (dni);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: actividades actividades_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actividades
    ADD CONSTRAINT actividades_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id);


--
-- Name: firmas_digitales firmas_digitales_registro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas_digitales
    ADD CONSTRAINT firmas_digitales_registro_id_fkey FOREIGN KEY (registro_id) REFERENCES public.registros_iperc(id);


--
-- Name: firmas_digitales firmas_digitales_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas_digitales
    ADD CONSTRAINT firmas_digitales_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: peligros_adicionales peligros_adicionales_registro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_adicionales
    ADD CONSTRAINT peligros_adicionales_registro_id_fkey FOREIGN KEY (registro_id) REFERENCES public.registros_iperc(id);


--
-- Name: peligros_base peligros_base_actividad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_base
    ADD CONSTRAINT peligros_base_actividad_id_fkey FOREIGN KEY (actividad_id) REFERENCES public.actividades(id);


--
-- Name: peligros_base peligros_base_tipo_peligro_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.peligros_base
    ADD CONSTRAINT peligros_base_tipo_peligro_id_fkey FOREIGN KEY (tipo_peligro_id) REFERENCES public.tipos_peligro(id);


--
-- Name: registros_iperc registros_iperc_actividad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc
    ADD CONSTRAINT registros_iperc_actividad_id_fkey FOREIGN KEY (actividad_id) REFERENCES public.actividades(id);


--
-- Name: registros_iperc registros_iperc_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc
    ADD CONSTRAINT registros_iperc_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id);


--
-- Name: registros_iperc registros_iperc_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc
    ADD CONSTRAINT registros_iperc_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.usuarios(id);


--
-- Name: registros_iperc registros_iperc_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.registros_iperc
    ADD CONSTRAINT registros_iperc_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: usuarios usuarios_cargo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_cargo_id_fkey FOREIGN KEY (cargo_id) REFERENCES public.cargos(id);


--
-- Name: usuarios usuarios_obra_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_obra_id_fkey FOREIGN KEY (obra_id) REFERENCES public.obras(id);


--
-- PostgreSQL database dump complete
--

\unrestrict JFSH2gBwZf4nPcZB42Kw1aIwXyUytdnsiSgSKTjwZYVuuH7Bv8fKULssRQVs4ID

